html, body {
	margin: 0;
	padding: 0;
}

#container {
	/* remove iOS tap target highlighting */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.abs-layer {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

#sketchpad > .formula {
	position: absolute;
}

#sliderview {
	pointer-events: none;
	z-index: 1;
}

#sliderview > .slider {
	pointer-events: all;
	position: absolute;
	width: 350px;
}

.slider .t-value {
	display: inline-block;
	width: 60px;
}

.slider input[type="range"] {
	width: 350px;
} 

#tableview {
	font-size: 18px;
}

#tableview > table {
	position: absolute;
}

#tableview th {
	border-bottom: 1px solid #000;
}

#tableview td {
	padding: 0 10px;
}

#actions {
	bottom: 12px;
	line-height: 42px;
	position: absolute;
	right: 12px;
}

#actionButton {
	background: #F44336;
	border-radius: 50%;
	color: #FFF;
	cursor: pointer;
	display: block;
	font-size: 36px;
	height: 64px;
	text-decoration: none;
	width: 64px;
}

#actionButton > i {
	display: block;
	font-size: inherit;
	line-height: 64px;
	text-align: center;
	width: inherit;
}

/* KATEX */

#sketchpad .katex {
	font-size: 14px !important;
}

#sliderview .katex {
	font-size: 18px !important;	
}